* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #acd600;
  background-image: linear-gradient(to right, pink, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  margin: 20px 0;
}

section {
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.4);
}

div.item {
  padding: 15px;
  display: flex;
  border-bottom: 0.3px solid #111;
}

label,
input {
  cursor: pointer;
}

input {
  margin-right: 10px;
}

.checked {
  text-decoration: line-through;
  background-color: #eee;
}
